<md-fab-toolbar md-direction="left">

  <md-fab-trigger class="align-with-text">
    <md-button class="md-fab" aria-label="List">
      <md-icon md-svg-src="data:image/svg+xml, {{ icons.list }}"></md-icon>
    </md-button>
  </md-fab-trigger>

  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">

      <md-button class="md-icon-button" aria-label="Close">
        <md-icon md-svg-src="data:image/svg+xml, {{ icons.close }}"></md-icon>
      </md-button>

      <md-button class="md-accent md-raised">BDI-II</md-button>

      <md-button class="md-accent md-raised">PBQ</md-button>
      
    </md-fab-actions>
  </md-toolbar>

</md-fab-toolbar>
