<!-- Controller 'SettingsController' for this view was set in 'home.html' -->

<!-- This backdrop will avoid to use main controlls before close Settings Sidenav -->
<md-backdrop class="md-sidenav-backdrop md-opaque" ng-show="shouldBlockByBackdrop"></md-backdrop>

<md-sidenav md-component-id="app_settings" class="md-sidenav-left" layout="column" md-disable-backdrop>
  <md-toolbar class="md-toolbar-tools">
    <h2 flex md-truncate>Configuración</h2>
    <md-button class="md-icon-button" aria-label="Close" ng-click="toggleSettingsMenu()" ng-disabled="isOpenFileChooser">
      <md-icon md-font-set="material-icons">close</md-icon>
    </md-button>
  </md-toolbar>

  <md-input-container>
    <label>{{ settings.label }}</label>
    <input ng-model="settings.reports_dir" disabled>
    <md-tooltip md-direction="left" ng-if="settings.reports_dir != ''">{{ settings.reports_dir }}</md-tooltip>
  </md-input-container>

  <md-content layout layout-padding layout-align="end center">
    <md-button class="md-fab md-mini" aria-label="Folder" ng-click="openFileChooser()" ng-disabled="isOpenFileChooser">
      <md-icon md-font-set="material-icons">folder</md-icon>
      <md-tooltip md-direction="left">Seleccionar carpeta</md-tooltip>
    </md-button>
  </md-content>
</md-sidenav>
