<!-- This backdrop will avoid to use main controlls before close List Sidenav -->
<md-backdrop class="md-sidenav-backdrop md-opaque" ng-show="shouldBlockByBackdrop"></md-backdrop>

<md-sidenav md-component-id="right" class="md-sidenav-right" layout="column" md-disable-backdrop>
  <md-toolbar class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Close" ng-click="toggleListMenu()">
      <md-icon md-font-set="material-icons">close</md-icon>
    </md-button>
    <h1 class="md-toolbar-tools">Pruebas psicométricas</h1>
  </md-toolbar>

  <md-button class="md-accent md-raised">BDI-II</md-button>

  <md-button class="md-accent md-raised">PBQ</md-button>
</md-sidenav>
