<md-sidenav md-component-id="right" class="md-sidenav-right" layout="column">
  <md-toolbar class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Close" ng-click="toggleListMenu()">
      <md-icon md-svg-src="data:image/svg+xml, {{ icons.close }}"></md-icon>
    </md-button>
    <h1 class="md-toolbar-tools">Pruebas psicométricas</h1>
  </md-toolbar>

  <md-button class="md-accent md-raised">BDI-II</md-button>

  <md-button class="md-accent md-raised">PBQ</md-button>
</md-sidenav>
