<div ng-controller="SettingsController" ng-include="'home/app_settings.html'"></div>

<md-content ng-controller="HomeController" layout="column" layout-align="space-between stretch" layout-margin class="md-whiteframe-3dp">
  <img src="icon_4-1-t.svg">

  <md-subheader class="md-primary">Pruebas psicométricas de opción múltiple</md-subheader>

  <md-content layout layout-align="space-between end">
    <md-button class="md-icon-button md-mini" aria-label="Settings" ng-click="toggleSettingsMenu()">
      <md-icon md-font-set="material-icons">settings</md-icon>
    </md-button>

    <md-button class="md-fab" aria-label="List" ng-click="toggleListMenu()" ng-disabled="!canSeeTestList">
      <md-icon md-font-set="material-icons">list</md-icon>
    </md-button>
  </md-content>
</md-content>

<div ng-controller="ListController" ng-include="'home/app_test_list.html'"></div>
