<!DOCTYPE html>
<html ng-app="PsytestApp">
  <head>
    <meta charset="utf-8">
    <title>Psytest</title>

    <!-- Angular components -->
    <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.css">
    <script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-route/angular-route.min.js"></script>

    <!-- App components -->
    <script type="text/javascript" src="../initModules.js"></script>
    <script type="text/javascript" src="../psyco_tests/pbqTestFactory.js"></script>
    <script type="text/javascript" src="../psyco_tests/bdi_iiTestFactory.js"></script>
    <script type="text/javascript" src="../assets/iconsFactory.js"></script>
    <script type="text/javascript" src="../controllers/indexController.js"></script>
  </head>

  <body ng-controller="IndexController" layout="column" layout-align="center">

    <md-content ng-init="go('/')" class="md-padding" layout layout-align="center">
      <ng-view>
        <!-- All app views will show here -->
      </ng-view>
    </md-content>

  </body>
</html
