<!DOCTYPE html>
<html ng-app="PsytestApp">
  <head>
    <meta charset="utf-8">
    <title>Psytest</title>

    <!-- Angular components -->
    <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.css">
    <script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-route/angular-route.min.js"></script>

    <!-- App components -->
    <script type="text/javascript" src="../initModules.js"></script>
    <script type="text/javascript" src="../psyco_tests/pbqTestFactory.js"></script>
    <script type="text/javascript" src="../psyco_tests/bdi_iiTestFactory.js"></script>
    <script type="text/javascript" src="../assets/iconsFactory.js"></script>
    <script type="text/javascript" src="../controllers/indexController.js"></script>
  </head>

  <body ng-controller="IndexController" layout="column" layout-align="center">

    <md-content class="md-padding" layout layout-align="center">
      <md-card flex-xs="60" flex-sm="40" flex-md="25" flex-lg="25" flex-xl="35" layout="column" layout-align="center center">
        <img src="icon_4-1-t.svg" class="md-card-image">
        <md-card-title>
          <md-card-title-text>
            Pruebas psicométricas de opción múltiple
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start">
          <md-button class="md-fab md-warn md-mini" aria-label="list">
            <md-icon md-svg-src="data:image/svg+xml, {{ icons.settings }}"></md-icon>
          </md-button>
          <md-button class="md-fab md-mini" aria-label="list" ng-click="go('/tests')">
            <md-icon md-svg-src="data:image/svg+xml, {{ icons.list }}"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      
      <ng-view>
      </ng-view>
    </md-content>

  </body>
</html
