<md-card flex-xs="60" flex-sm="40" flex-md="25" flex-lg="25" flex-xl="35" layout="column" layout-align="center center">
  <md-card-title>
    <md-card-title-text class="md-headline">
      Lista de pruebas disponibles
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    Aqui se mostrarán todas las pruebas disponibles para aplicar.
  </md-card-content>
  <md-card-actions layout="row" layout-align="start">
    <md-button class="md-fab md-mini" aria-label="before" ng-click="go('/')">
      <md-icon md-svg-src="data:image/svg+xml, {{ icons.before }}"></md-icon>
    </md-button>
  </md-card-actions>
</md-card>
