<md-content flex layout="column" layout-align="space-between stretch" layout-margin class="md-whiteframe-3dp">
  <md-content flex layout layout-align="center center">
    <md-icon md-font-set="material-icons" ng-style="{'font-size': '96px', height: '96px', width: '96px'}" class="md-accent md-margin">
      check_circle
    </md-icon>

    <md-subheader class="md-primary md-hue-2">
      <h1>Gracias</h1>
      <span>Prueba finalizada</span>
    </md-subheader>
  </md-content>

  <md-content flex layout layout-align="end end">
    <md-button class="md-icon-button md-primary md-hue-1" aria-label="Home" ng-click="go('/')">
      <md-icon md-font-set="material-icons">home</md-icon>
    </md-button>
  </md-content>
</md-content>
